<!-- Page Header -->
<div class="botvs-top-section-wrapper">
    <header class="botvs-top-section nocontent botvs-top-section-pinned">
        <div class="botvs-top-logo-row-wrapper-wrapper">
            <div class="botvs-top-logo-row-wrapper">
                <div class="botvs-top-logo-login-row botvs-full-site-width">
                    <div class="botvs-product-name-wrapper">
                        <a href="https://www.botvs.com/" class="botvs-site-logo-link gc-analytics-event" data-category="Site-Wide Custom Events" data-label="Site logo">
                            <img src="https://www.botvs.com/images/logo.png" class="botvs-site-logo" alt="BotVS Platform">
                        </a>
                    </div>
                    <a href="/" class="botvs-user-home botvs-top-login-button botvs-doc-set-nav-tab botvs-link-button gc-analytics-event">
                        首页
                    </a>
                </div>
            </div>
        </div>
    </header>
</div>
