<!-- Page Footer -->
<footer class="botvs-footer-linkboxes nocontent botvs-footer-linkboxes-all-backup botvs-footer-linkboxes-with-sites">
    <nav class="botvs-full-site-width">
        <ul class="botvs-footer-linkboxes-list">
            <li class="botvs-footer-linkbox botvs-footer-linkbox-backup">
                <h3 class="botvs-footer-linkbox-heading">了解详情</h3>
                <ul class="botvs-footer-linkbox-list">
                    <li class="botvs-footer-linkbox-item">
                        <a href="/">策略广场</a>
                    </li>
                    <li class="botvs-footer-linkbox-item">
                        <a href="/">实盘围观</a>
                    </li>
                    <li class="botvs-footer-linkbox-item">
                        <a href="/">交流社区</a>
                    </li>
                    <li class="botvs-footer-linkbox-item">
                        <a href="/">API文档</a>
                    </li>
                    <li class="botvs-footer-linkbox-item">
                        <a href="/">行情图表</a>
                    </li>
                    <li class="botvs-footer-linkbox-item">
                        <a href="/">分析工具</a>
                    </li>
                </ul>
            </li>
            <li class="botvs-footer-linkbox botvs-footer-linkbox-backup">
                <h3 class="botvs-footer-linkbox-heading">开源互动</h3>
                <ul class="botvs-footer-linkbox-list">
                    <li class="botvs-footer-linkbox-item">
                        <a href="/">知乎专栏</a>
                    </li>
                    <li class="botvs-footer-linkbox-item">
                        <a href="/">API文档</a>
                    </li>
                    <li class="botvs-footer-linkbox-item">
                        <a href="/">Github</a>
                    </li>
                </ul>
            </li>
            <li class="botvs-footer-linkbox botvs-footer-linkbox-backup">
                <h3 class="botvs-footer-linkbox-heading">关于我们</h3>
                <ul class="botvs-footer-linkbox-list">
                    <li class="botvs-footer-linkbox-item">
                        <a href="/">关于我们</a>
                    </li>
                </ul>
            </li>
            <li class="botvs-footer-linkbox botvs-footer-linkbox-sites">
                <a href="/" class="botvs-footer-linkbox-logo-link">
                    <img class="botvs-footer-linkbox-logo" src="https://www.botvs.com/images/logo.png" alt="BotVS Logo" />
                </a>
                <ul class="botvs-footer-linkbox-list">
                    <li class="botvs-footer-linkbox-item">
                        <a href="/">知乎专栏</a>
                    </li>
                    <li class="botvs-footer-linkbox-item">
                        <a href="/">API文档</a>
                    </li>
                    <li class="botvs-footer-linkbox-item">
                        <a href="/">Github</a>
                    </li>
                </ul>
            </li>
        </ul>
    </nav>
</footer>

<footer class="botvs-utility-footer">
    <nav class="botvs-utility-footer-nav botvs-nav botvs-full-site-width">
        <div class="botvs-utility-footer-nav-left">
            <span class="botvs-utility-footer-links">© 2015 - ∞ BotVS. 京ICP备15046776号</span>
        </div>
    </nav>
</footer>

