<login-header></login-header>
<div layout-gt-sm="row" layout-sm="column" class="botvs-login">
    <md-content class="botvs-md-content" ng-controller="LoginCtrl">
        <md-card class="botvs-md-card">
            <md-card-content class="botvs-md-card-content">
                <form name="userLoginForm">
                    <md-input-container class="botvs-login-input-container">
                        <span style="display:inline-block; width: 100%; margin-bottom: 30px; padding: 0; font-size: 24px; color: #373d41; letter-spacing: 1px; line-height: 36px; text-align: center;">欢迎登录BotVS</span>
                    </md-input-container>
                    <md-input-container class="botvs-login-input-container">
                        <label>用户名/邮箱</label>
                        <input required type="email" step="any" name="userEmail" ng-model="user.email" ng-pattern="email" />
                        <div ng-messages="userLoginForm.userEmail.$error" multiple md-auto-hide="true">
                            <div ng-message="required">
                                请输入您的邮箱
                            </div>
                            <div ng-message="pattern">
                                请输入您正确的邮箱
                            </div>
                        </div>
                    </md-input-container>
                    <md-input-container class="botvs-login-input-container md-block">
                        <label>登录密码</label>
                        <input required type="password" step="any" name="userPassword" ng-model="user.password"  ng-pattern="password" />
                        <div ng-messages="userLoginForm.userPassword.$error" multiple md-auto-hide="true">
                            <div ng-message="required">
                                请输入登录密码
                            </div>

                            <div ng-message="pattern">
                                请输入正确的登录密码
                            </div>
                        </div>
                    </md-input-container>
                    <md-input-container class="botvs-login-input-container botvs-login-input-container-submit">
                        <md-button class="md-primary" ng-click="submitLogin()" style="width: 100%; margin: 0; padding: 0; background-color: rgba(63, 81, 181, 0.6); color: #fff;">
                            确定登录
                        </md-button>
                    </md-input-container>
                    <md-input-container class="botvs-login-input-container">
                        <md-button style="display: inline-block; font-size: 12px; color: #9B9EA0;">
                            忘记密码
                        </md-button>
                        <md-button href="/register" style="display: inline-block; font-size: 12px; color: #9B9EA0;">
                            免费注册
                        </md-button>
                    </md-input-container>
                </form>
            </md-card-content>
        </md-card>
    </md-content>
</div>
