/* app css stylesheet */

.show-menu {
  display: inline-block;
  margin: 0;
}
.hidden {
  display: none;
}
.active {
  display: block;
}

.menu-button {
  width: 100%;
}

.md-title-width {
  display: inline-block;
  width: 70%;
  text-align: left;
}


