/* app css stylesheet */
@import "./container/register/register.css";
@import "./container/login/login.css";
@import "./container/home/home.css";
@import "./components/Footer/pageFooter.css";
@import "./components/RegisterHeader/registerHeader.css";
@import "./components/LoginHeader/loginHeader.css";
@import "./components/Header/pageHeader.css";

*, *::before, *::after {
  -moz-box-sizing: inherit;
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

body, html {
  color: #212121;
  font: 400 16px/24px Roboto,sans-serif;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  margin: 0;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  text-size-adjust: 100%;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

section {
  margin: 0;
}

h1 {
  margin: .67em 0;
}

#botvs-site .botvs-text-display {
  color: #455a64;
  font-size: 20px;
  font-weight: 500;
}

#botvs-site .botvs-text-display:hover {
  color: #039be5;
}

body, div, dl, dd, form, img, input, figure, menu {
  margin: 0;
  padding: 0;
}

ul, dl, ol {
  /*list-style: disc outside;*/
  list-style: none;
  margin: 0;
  padding-left: 14px;
}

.botvs-footer-linkbox-sites {
  background: #37424b;
}

.botvs-footer-linkbox-logo-link {
  border-bottom: 1px solid #455a64;
  display: block;
  margin: 0 -24px 12px -20px;
  padding: 0 24px 16px 20px;
}

.botvs-footer-linkbox-logo {
  margin: -5px 0 0;
  max-width: 70px;
  width: 100%;
  vertical-align: top;
}

img {
  border: 0;
  max-width: 100%;
}

:link, :visited {
  color: #039be5;
  outline: 0;
  text-decoration: none;
}

.md-icon-button {
  fill: #000 !important;
  color: #000 !important;
}

.hidden {
  display: none !important;
}

.active {
  display: block;
}

.botvs-nav-popover {
  visibility: visible;
  position: absolute;
  top: 0;
  left: 0;
  max-width: 220px;
  min-width: 120px;
  padding: 13px 18px 11px;
  border: 1px solid #ccc;
  font-size: 15px;
  background-color: #fff;
  zoom: 1;
  border-radius: 3px;
  box-shadow: 0 2px 4px rgba(0,0,0,.1);
  z-index: 10005;
}

.botvs-nav-popover.inactive {
  visibility: visible;
  animation: anim-dropdown-hide .11s ease-out 0s 1 normal both;
}

.botvs-nav-popover.active {
  visibility: visible;
  animation: anim-dropdown-show .11s ease-out 0s 1 normal both;
}

.botvs-popover-li {
  padding: 0;
  margin: 0;
  color: rgba(0,0,0,0.87);
}

.botvs-popover-li:hover {
  color: #f8991d;
}

.botvs-nav-popover-arrow {
  position: absolute;
  left: 50%;
  width: 0;
  height: 0;
  margin-left: -9px;
  line-height: 0;
  font-size: 0;
  border-style: solid;
  border-width: 9px;
  border-color: transparent;
  border-top-width: 0;
  top: -9px;
  border-bottom: 9px solid #ccc;
}

.botvs-nav-popover-arrow-inner {
  position: absolute;
  left: 50%;
  width: 0;
  height: 0;
  margin-left: -9px;
  line-height: 0;
  font-size: 0;
  border-style: solid;
  border-width: 9px;
  border-color: transparent;
  border-top-width: 0;
  top: -8px;
  border-bottom: 9px solid #fff;
}

.botvs-nav-flyout::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  display: block;
  width: 1px;
  height: 100%;
  border-right: 1px solid #f7f7f7;
}

.botvs-nav-flyout {
  position: absolute;
  width: 320px;
  height: 100%;
  border-right: 1px solid #e2e2e2;
  font-size: 15px;
  background: #f7f7f7;
  visibility: visible;
  z-index: 10005;
  top: 94px;
  /*left: -200px;*/
  left: 0;
  opacity: .98;
}

.botvs-nav-flyout.botvs-fixed {
  position: fixed;
}

.botvs-nav-flyout.botvs-opacity {
  opacity: 0.98;
}

.botvs-nav-flyout-item:first-child {
  margin-top: 25px;
}

.botvs-menu-button-width {
  padding: 0px !important;
  margin: 0px !important;
}

.button-arrow-drop-down {
  margin-top: 4.5px;
}

.button-register {
  /*background: #00c1de;*/
  background-color: rgba(255,255,255,0.87) !important;
}

.md-icon {
  /*padding: 0 1rem 0 0;*/
  font-size: 1.5em;
}

.md-expand {
  color: #8fa4ae;
  /*margin-left: 12%;*/
}

.md-title-width {
  display: inline-block;
  width: 80%;
  text-align: left;
}

@media handheld and (max-width: 480px), screen and (max-width: 900px), screen and (max-width: 480px) {
  #botvs-site .botvs-grid-fluid .botvs-c3, #botvs-site .botvs-grid-fluid .botvs-c4, #botvs-site .botvs-grid-fluid .botvs-c5, #botvs-site .botvs-grid-fluid .botvs-c6, #botvs-site .botvs-grid-fluid .botvs-c7, #botvs-site .botvs-grid-fluid .botvs-c8, #botvs-site .botvs-grid-fluid .botvs-c9, #botvs-site .botvs-grid-fluid .botvs-c10, #botvs-site .botvs-grid-fluid .botvs-c11, #botvs-site .botvs-grid-fluid .botvs-c12 {
    display: block;
    float: none;
    margin-left: 20px;
    margin-right: 20px;
    width: auto;
  }
}

@media handheld and (max-width: 900px), screen and (max-width: 900px) {
  #botvs-site .botvs-grid-fluid {
    margin: 0 auto;
  }
}

@media handheld and (max-width: 900px), screen and (max-width: 900px) {
  .botvs-grid-fluid::before {
    clear: both;
    content: '.';
    display: block;
    font-size: 0;
    height: 0;
    line-height: 0;
    overflow: hidden;
    visibility: hidden;
    width: 0;
  }
}

@media handheld and (max-width: 480px), screen and (max-width: 900px), screen and (max-width: 480px) {
  #botvs-site .botvs-grid-fluid {
    width: auto;
  }
}