<page-header></page-header>
<!-- The content area -->
<div layout-gt-sm="row" layout-sm="column">
    <!-- The main action happens here -->
    <md-content flex id="botvs-site" class="botvs-main-content">
    <article class="botvs-site">
        <header class="botvs-hero">
            <div class="botvs-max-width-standard">
                <h1 class="botvs-headline botvs-text-large">
                    <p class="botvs-gray">量化未来</p>
                    <p class="botvs-blue">筑就非凡的量化世界</p>
                </h1>
                <ul class="botvs-list">
                    <li>
                        <md-icon class="md-icon md-blue notranslate" md-svg-icon="./bower_components/material-design-icons/navigation/svg/design/ic_check_24px.svg"></md-icon>
                        <!--<i class="material-icons md-blue notranslate">check</i>-->
                        采用 Google 的核心基础架构、数据分析工具和机器学习技术。
                    </li>
                    <li>
                        <md-icon class="md-icon md-blue notranslate" md-svg-icon="./bower_components/material-design-icons/navigation/svg/design/ic_check_24px.svg"></md-icon>
                        <!--<i class="material-icons md-blue notranslate">check</i>-->
                        安全有保障且功能全面，适合所有企业。
                    </li>
                    <li>
                        <md-icon class="md-icon md-blue notranslate" md-svg-icon="./bower_components/material-design-icons/navigation/svg/design/ic_check_24px.svg"></md-icon>
                        <!--<i class="material-icons md-blue notranslate">check</i>-->
                        致力于提供开源环境和行业领先的性价比。
                    </li>
                </ul>
                <md-button class="botvs-link botvs-button-large botvs-button botvs-button-cloud">
                    <span class="md-title">宽客在线</span>
                </md-button>
                <md-button class="botvs-chat botvs-button-large botvs-button botvs-button-cloud">
                    <span class="md-title">加入QQ群</span>
                </md-button>
            </div>
        </header>
    </article>
    <section class="botvs-full-bleed-section botvs-background-grey">
        <div class="botvs-max-width-standard botvs-grid-fluid botvs-pad-top-6 botvs-pad-bottom-5">
            <div class="botvs-c12">
                <div class="botvs-c3">
                    <div class="botvs-border"></div>
                    <h3>专注，匠人品质</h3>
                    <p class="botvs-p">BotVS的客户可以专注于</p>
                </div>
                <div class="botvs-c3">
                    <div class="botvs-border"></div>
                    <h3>自由，高度定制</h3>
                    <p class="botvs-p">BotVS的客户可以专注于</p>
                </div>
                <div class="botvs-c3">
                    <div class="botvs-border"></div>
                    <h3>实盘，千锤百炼</h3>
                    <p class="botvs-p">BotVS的客户可以专注于</p>
                </div>
                <div class="botvs-c3 last">
                    <div class="botvs-border"></div>
                    <h3>高效，超前架构</h3>
                    <p class="botvs-p">BotVS的客户可以专注于</p>
                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="botvs-max-width-standard botvs-grid-fluid why-botvs-section">
            <h1 class="botvs-headline botvs-text-center">为什么选用BotVS?</h1>
            <div class="botvs-c4 botvs-text-center">
                <div class="botvs-text-container">
                    <figure class="botvs-image botvs-futureproof"></figure>
                    <h3 id="botvs-header">
                        <a class="botvs-text-display" href="/" track-type="navigateTo" track-name="homepageWhyGoogle/futureProof">
                            云端部署 在线编程
                        </a>
                    </h3>
                    <p class="botvs-text-body">
                        安全有保障，服务范围遍及全球，高性能、经济实惠且不断完善。我们精心打造持久耐用的云端服务。
                    </p>
                </div>
            </div>
            <div class="botvs-c4 botvs-text-center">
                <div class="botvs-text-container">
                    <figure class="botvs-image botvs-analytics"></figure>
                    <h3 id="botvs-header">
                        <a class="botvs-text-display" href="/" track-type="navigateTo" track-name="homepageWhyGoogle/futureProof">
                            跨平台 跨品种
                        </a>
                    </h3>
                    <p class="botvs-text-body">
                        安全有保障，服务范围遍及全球，高性能、经济实惠且不断完善。我们精心打造持久耐用的云端服务。
                    </p>
                </div>
            </div>
            <div class="botvs-c4 botvs-text-center">
                <div class="botvs-text-container">
                    <figure class="botvs-image botvs-just-code"></figure>
                    <h3 id="botvs-header">
                        <a class="botvs-text-display" href="/" track-type="navigateTo" track-name="homepageWhyGoogle/futureProof">
                            免费灵活 策略可简可繁
                        </a>
                    </h3>
                    <p class="botvs-text-body">
                        安全有保障，服务范围遍及全球，高性能、经济实惠且不断完善。我们精心打造持久耐用的云端服务。
                    </p>
                </div>
            </div>
        </div>
    </section>
    <section class="botvs-pad-top-6 botvs-pad-bottom-4">
        <div class="botvs-max-width-standard botvs-grid-fluid botvs-products">
            <h1 class="botvs-headline botvs-text-center">构建和扩展所需的一切</h1>
            <div class="botvs-c12 botvs-pad-top-3">
                <div class="botvs-c4" id="products_compute">
                    <div class="botvs-text-container">
                        <h3 class="botvs-text-wrapper botvs-compute" id="header_3">
                            <a class="botvs-text-display" href="/" track-type="navigateTo" track-name="homepageProducts/Compute">计算</a>
                        </h3>
                        <p class="botvs-text-wrapper botvs-text-body">
                            从具有经验证的性价比优势的虚拟机，到完全托管的应用开发平台，应有尽有。
                        </p>
                    </div>
                    <ul class="botvs-list botvs-text-wrapper">
                        <li>
                            <a href="/" track-type="navigateTo" track-name="homepageProducts/compute/computeEngine">Compute Engine</a>
                        </li>
                        <li>
                            <a href="/" track-type="navigateTo" track-name="homepageProducts/compute/appEngine">App Engine</a>
                        </li>
                        <li>
                            <a href="/" track-type="navigateTo" track-name="homepageProducts/compute/containerEngine">Kubernetes Engine</a>
                        </li>
                        <li>
                            <a class="botvs-last botvs-text-center expand-more ng-pristine ng-untouched ng-valid ng-empty" ng-model="collapsed_compute" ng-click="collapsed_compute = !collapsed_compute" ng-show="!collapsed_compute">
                                <md-icon class="md-icon md-expand" md-svg-icon="./bower_components/material-design-icons/navigation/svg/design/ic_arrow_drop_down_24px.svg"></md-icon>
                            </a>
                        </li>
                        <div ng-show="collapsed_compute" class="ng-hide">
                            <li>
                                <a href="https://cloud.google.com/container-registry/" track-type="navigateTo" track-name="homepageProducts/compute/containerRegistry">Container Registry</a>
                            </li>
                            <li>
                                <a href="https://cloud.google.com/functions/" track-type="navigateTo" track-name="homepageProducts/compute/cloudFunctions">Cloud Functions</a>
                            </li>
                            <li>
                                <a class="botvs-last botvs-text-center ng-hide" ng-show="collapsed_compute" ng-click="collapsed_compute = !collapsed_compute">
                                    <!--<i class="material-icons notranslate">expand_less</i>-->
                                    <md-icon class="md-icon md-expand" md-svg-icon="./bower_components/material-design-icons/navigation/svg/design/ic_arrow_drop_up_24px.svg"></md-icon>
                                </a>
                            </li>
                        </div>
                    </ul>
                </div>
                <div class="botvs-c4" id="products_storage">
                    <div class="botvs-text-container">
                        <h3 class="botvs-text-wrapper botvs-storage" id="header_4">
                            <a class="botvs-text-display" href="/" track-type="navigateTo" track-name="homepageProducts/Storage">存储和数据库</a>
                        </h3>
                        <p class="botvs-text-wrapper botvs-text-body">
                            从具有经验证的性价比优势的虚拟机，到完全托管的应用开发平台，应有尽有。
                        </p>
                    </div>
                    <ul class="botvs-list botvs-text-wrapper">
                        <li><a href="/" track-type="navigateTo" track-name="homepageProducts/compute/computeEngine">Compute Engine</a></li>
                        <li><a href="/" track-type="navigateTo" track-name="homepageProducts/compute/appEngine">App Engine</a></li>
                        <li><a href="/" track-type="navigateTo" track-name="homepageProducts/compute/containerEngine">Kubernetes Engine</a></li>
                        <li>
                            <a class="botvs-last botvs-text-center expand-more ng-pristine ng-untouched ng-valid ng-empty" ng-model="collapsed_storage" ng-click="collapsed_storage = !collapsed_storage" ng-show="!collapsed_storage">
                                <md-icon class="md-icon md-expand" md-svg-icon="./bower_components/material-design-icons/navigation/svg/design/ic_arrow_drop_down_24px.svg"></md-icon>
                            </a>
                        </li>
                        <div ng-show="collapsed_storage" class="ng-hide">
                            <li><a href="https://cloud.google.com/container-registry/" track-type="navigateTo" track-name="homepageProducts/compute/containerRegistry">Container Registry</a></li>
                            <li><a href="https://cloud.google.com/functions/" track-type="navigateTo" track-name="homepageProducts/compute/cloudFunctions">Cloud Functions</a></li>
                            <li>
                                <a class="botvs-last botvs-text-center ng-hide" ng-show="collapsed_storage" ng-click="collapsed_storage = !collapsed_storage">
                                    <md-icon class="md-icon md-expand" md-svg-icon="./bower_components/material-design-icons/navigation/svg/design/ic_arrow_drop_up_24px.svg"></md-icon>
                                </a>
                            </li>
                        </div>
                    </ul>
                </div>
                <div class="botvs-c4" id="products_networking">
                    <div class="botvs-text-container">
                        <h3 class="botvs-text-wrapper botvs-networking" id="header_5">
                            <a class="botvs-text-display" href="/" track-type="navigateTo" track-name="homepageProducts/Networking">网络</a>
                        </h3>
                        <p class="botvs-text-wrapper botvs-text-body">
                            从具有经验证的性价比优势的虚拟机，到完全托管的应用开发平台，应有尽有。
                        </p>
                    </div>
                    <ul class="botvs-list botvs-text-wrapper">
                        <li><a href="/" track-type="navigateTo" track-name="homepageProducts/compute/computeEngine">Compute Engine</a></li>
                        <li><a href="/" track-type="navigateTo" track-name="homepageProducts/compute/appEngine">App Engine</a></li>
                        <li><a href="/" track-type="navigateTo" track-name="homepageProducts/compute/containerEngine">Kubernetes Engine</a></li>
                        <li>
                            <a class="botvs-last botvs-text-center expand-more ng-pristine ng-untouched ng-valid ng-empty" ng-model="collapsed_networking" ng-click="collapsed_networking = !collapsed_networking" ng-show="!collapsed_networking">
                                <md-icon class="md-icon md-expand" md-svg-icon="./bower_components/material-design-icons/navigation/svg/design/ic_arrow_drop_down_24px.svg"></md-icon>
                            </a>
                        </li>
                        <div ng-show="collapsed_networking" class="ng-hide">
                            <li><a href="https://cloud.google.com/container-registry/" track-type="navigateTo" track-name="homepageProducts/compute/containerRegistry">Container Registry</a></li>
                            <li><a href="https://cloud.google.com/functions/" track-type="navigateTo" track-name="homepageProducts/compute/cloudFunctions">Cloud Functions</a></li>
                            <li>
                                <a class="botvs-last botvs-text-center ng-hide" ng-show="collapsed_networking" ng-click="collapsed_networking = !collapsed_networking">
                                    <md-icon class="md-icon md-expand" md-svg-icon="./bower_components/material-design-icons/navigation/svg/design/ic_arrow_drop_up_24px.svg"></md-icon>
                                </a>
                            </li>
                        </div>
                    </ul>
                </div>
            </div>
            <div class="botvs-c12 botvs-pad-top-3">
                <div class="botvs-c4" id="products_bigdata">
                    <div class="botvs-text-container">
                        <h3 class="botvs-text-wrapper botvs-bigdata" id="header_6">
                            <a class="botvs-text-display" href="/" track-type="navigateTo" track-name="homepageProducts/bigData">大数据</a>
                        </h3>
                        <p class="botvs-text-wrapper botvs-text-body">
                            从具有经验证的性价比优势的虚拟机，到完全托管的应用开发平台，应有尽有。
                        </p>
                    </div>
                    <ul class="botvs-list botvs-text-wrapper">
                        <li><a href="/" track-type="navigateTo" track-name="homepageProducts/compute/computeEngine">Compute Engine</a></li>
                        <li><a href="/" track-type="navigateTo" track-name="homepageProducts/compute/appEngine">App Engine</a></li>
                        <li><a href="/" track-type="navigateTo" track-name="homepageProducts/compute/containerEngine">Kubernetes Engine</a></li>
                        <li>
                            <a class="botvs-last botvs-text-center expand-more ng-pristine ng-untouched ng-valid ng-empty" ng-model="collapsed_bigdata" ng-click="collapsed_bigdata = !collapsed_bigdata" ng-show="!collapsed_bigdata">
                                <md-icon class="md-icon md-expand" md-svg-icon="./bower_components/material-design-icons/navigation/svg/design/ic_arrow_drop_down_24px.svg"></md-icon>
                            </a>
                        </li>
                        <div ng-show="collapsed_bigdata" class="ng-hide">
                            <li><a href="https://cloud.google.com/container-registry/" track-type="navigateTo" track-name="homepageProducts/compute/containerRegistry">Container Registry</a></li>
                            <li><a href="https://cloud.google.com/functions/" track-type="navigateTo" track-name="homepageProducts/compute/cloudFunctions">Cloud Functions</a></li>
                            <li>
                                <a class="botvs-last botvs-text-center ng-hide" ng-show="collapsed_bigdata" ng-click="collapsed_bigdata = !collapsed_bigdata">
                                    <md-icon class="md-icon md-expand" md-svg-icon="./bower_components/material-design-icons/navigation/svg/design/ic_arrow_drop_up_24px.svg"></md-icon>
                                </a>
                            </li>
                        </div>
                    </ul>
                </div>
                <div class="botvs-c4" id="products_internet_of_things">
                    <div class="botvs-text-container">
                        <h3 class="botvs-text-wrapper botvs-iot" id="header_7">
                            <a class="botvs-text-display" href="/" track-type="navigateTo" track-name="homepageProducts/iot">物联网</a>
                        </h3>
                        <p class="botvs-text-wrapper botvs-text-body">
                            从具有经验证的性价比优势的虚拟机，到完全托管的应用开发平台，应有尽有。
                        </p>
                    </div>
                    <ul class="botvs-list botvs-text-wrapper">
                        <li><a href="/" track-type="navigateTo" track-name="homepageProducts/compute/computeEngine">Compute Engine</a></li>
                        <li><a href="/" track-type="navigateTo" track-name="homepageProducts/compute/appEngine">App Engine</a></li>
                        <li><a href="/" track-type="navigateTo" track-name="homepageProducts/compute/containerEngine">Kubernetes Engine</a></li>
                        <li>
                            <a class="botvs-last botvs-text-center expand-more ng-pristine ng-untouched ng-valid ng-empty" ng-model="collapsed_iot" ng-click="collapsed_iot = !collapsed_iot" ng-show="!collapsed_iot">
                                <md-icon class="md-icon md-expand" md-svg-icon="./bower_components/material-design-icons/navigation/svg/design/ic_arrow_drop_down_24px.svg"></md-icon>
                            </a>
                        </li>
                        <div ng-show="collapsed_iot" class="ng-hide">
                            <li><a href="https://cloud.google.com/container-registry/" track-type="navigateTo" track-name="homepageProducts/compute/containerRegistry">Container Registry</a></li>
                            <li><a href="https://cloud.google.com/functions/" track-type="navigateTo" track-name="homepageProducts/compute/cloudFunctions">Cloud Functions</a></li>
                            <li>
                                <a class="botvs-last botvs-text-center ng-hide" ng-show="collapsed_iot" ng-click="collapsed_iot = !collapsed_iot">
                                    <md-icon class="md-icon md-expand" md-svg-icon="./bower_components/material-design-icons/navigation/svg/design/ic_arrow_drop_up_24px.svg"></md-icon>
                                </a>
                            </li>
                        </div>
                    </ul>
                </div>
                <div class="botvs-c4" id="products_machine_learning">
                    <div class="botvs-text-container">
                        <h3 class="botvs-text-wrapper botvs-machinelearning" id="header_8">
                            <a class="botvstext-display" href="/" track-type="navigateTo" track-name="homepageProducts/machineLearning">机器学习</a>
                        </h3>
                        <p class="botvs-text-wrapper botvs-text-body">
                            从具有经验证的性价比优势的虚拟机，到完全托管的应用开发平台，应有尽有。
                        </p>
                    </div>
                    <ul class="botvs-list botvs-text-wrapper">
                        <li><a href="/" track-type="navigateTo" track-name="homepageProducts//computeEngine">Compute Engine</a></li>
                        <li><a href="/" track-type="navigateTo" track-name="homepageProducts/compute/appEngine">App Engine</a></li>
                        <li><a href="/" track-type="navigateTo" track-name="homepageProducts/compute/containerEngine">Kubernetes Engine</a></li>
                        <li>
                            <a class="botvs-last botvs-text-center expand-more ng-pristine ng-untouched ng-valid ng-empty" ng-model="collapsed_machinelearning" ng-click="collapsed_machinelearning = !collapsed_machinelearning" ng-show="!collapsed_machinelearning">
                                <md-icon class="md-icon md-expand" md-svg-icon="./bower_components/material-design-icons/navigation/svg/design/ic_arrow_drop_down_24px.svg"></md-icon>
                            </a>
                        </li>
                        <div ng-show="collapsed_machinelearning" class="ng-hide">
                            <li><a href="https://cloud.google.com/container-registry/" track-type="navigateTo" track-name="homepageProducts/compute/containerRegistry">Container Registry</a></li>
                            <li><a href="https://cloud.google.com/functions/" track-type="navigateTo" track-name="homepageProducts/compute/cloudFunctions">Cloud Functions</a></li>
                            <li>
                                <a class="botvs-last botvs-text-center ng-hide" ng-show="collapsed_machinelearning" ng-click="collapsed_machinelearning = !collapsed_machinelearning">
                                    <md-icon class="md-icon md-expand" md-svg-icon="./bower_components/material-design-icons/navigation/svg/design/ic_arrow_drop_up_24px.svg"></md-icon>
                                </a>
                            </li>
                        </div>
                    </ul>
                </div>
            </div>
        </div>
    </section>
</md-content>
</div>